/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests against real, UNALIGNED GTDB archaeal 16S data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Same 121 sequences as the test_gtdb profile, but unaligned -- exercises
    ENSURE_ALIGNED's hmmalign path end to end, using Barrnap's archaeal rRNA HMM
    database as the default --hmm. See conf/test_gtdb.config and
    testdata/gtdb_archaea_16s*.fasta / testdata/barrnap_arc.hmm in the taxmarker branch
    of erikrikarddaniel/test-datasets for provenance.

    Use as follows:
        nextflow run nf-core/taxmarker -profile test_gtdb_unaligned,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    // Multi-threaded search aborts with BRLEN out-of-bounds on the small test alignments.
    withName: 'RAXMLNG_SEARCH' {
        cpus = 1
    }
}

params {
    config_profile_name        = 'GTDB archaea (unaligned) test profile'
    config_profile_description = 'Real, unaligned GTDB archaeal 16S dataset to check the hmmalign-based unaligned-input path'

    // Input data
    taxonomy  = params.pipelines_testdata_base_path + 'taxmarker/testdata/gtdb_archaea_16s.tax'
    sequences = params.pipelines_testdata_base_path + 'taxmarker/testdata/gtdb_archaea_16s_unaligned.fasta'

    // Unaligned-input support
    hmm       = params.pipelines_testdata_base_path + 'taxmarker/testdata/barrnap_arc.hmm'
    hmm_name  = '16S_rRNA'
}
